* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  font: 14px 'Oswald', sans-serif;
  font-size: 1.3 rem;
  height: 100%;
}

.container{
  background: black;
  background-size: cover;
  margin: 0;
  overflow: auto;
  padding: 0 2rem;
  min-height: 100%;
}

.top-bar{
  height: 100vh;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10;
  overflow: auto;
}

.top-bar p {
  margin: 30 0;
  color: white;
}
.top-bar h1{
  font-size: 150;
  color:white;
}

.top-bar ul{
  list-style: none;
  margin: 30 0;
}

.top-bar h2 {
  color:white;
  font-size: 35;
}

.top-bar h2 span{
  font-size: 45;
  color: rgb(221, 0, 90);
}

.top-bar a{
  font-size: 40;
  text-decoration: none;
  color: black;
  padding: 10 40;
  border-radius: 15px;
}

.top-bar a.playbutton{
  color: white;
  border: 2px lightblue solid;
}

.top-bar a.playbutton:hover{
  color: black;
  background-color: white;
  border: 2px black;
}


.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: lightgray;
  margin-bottom: 2rem;
  border-radius: 20px;
}

img {
  width: 100%;
}

.card h1{
  font-size: 100;
  margin-left: 20;
}

.card ol {
  font-size: 38;
  margin-left: 50;
}

.card ol span {
  color: rgb(221, 0, 90);
}


.card:nth-child(odd) img {
  order: 2;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.card:nth-child(even) img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.bottom-bar{
  height: 50vh;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10;
  overflow: auto;
}

.bottom-bar p {
  font-size: 50;
  margin: 30 0;
  color: white;
}
.bottom-bar h1{
  font-size: 150;
  color:white;
}

.bottom-bar ul{
  list-style: none;
  margin: 50 0;
}

.bottom-bar li{
  margin: 50 0;
}

.bottom-bar h2 {
  color:white;
  font-size: 35;
}

.bottom-bar h2 span{
  font-size: 45;
  color: rgb(221, 0, 90);
}

.bottom-bar a{
  font-size: 40;
  text-decoration: none;
  color: black;
  color: rgb(221, 0, 90);
  padding: 10 40;
  border-radius: 15px;
  border: 2px lightblue solid;
}

.bottom-bar a:hover{
  background-color: white;
}

.bottom-bar a.playbutton{
  color: white;
  border: 2px lightblue solid;
  margin: 20;
}

.bottom-bar a.playbutton:hover{
  color: black;
  background-color: white;
  border: 2px black;
}


@media(max-width: 800px) {
  .card {
    display: block;
  }
}

/* width */
::-webkit-scrollbar {
  margin-right: 10;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 0, 90);
}